
*{
  font-family: Arial, Helvetica, sans-serif; 
}

.container{    
    display: flex;
    align-items: center;
    justify-content: center;
}

.okvir{
    background-color: #f2f2f2;
    box-shadow: 5px 5px 10px rgba(125,125,125,0.3);
    border-radius: 3em;
    padding-top: 1%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
    width: 820px;
    height: 346px;
    max-height: 346px;
    max-width: 820px;
}
.okvirinfo{
    padding: 5%;
    order: 2;
    flex-basis: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 65px; 
    
}

.okvirpodaci{
  padding-top: 0px;
  order: 1;
  flex-basis: 70%;
  
}

.radnikpodaci{
  font-weight: bold;
  color: #333333;
  margin-bottom: 8px;
  font-size:17px;
}

.okvirCV{ 
  order: 2;
  flex-basis: 30%;
  width: 250px;
  max-width: 250px;
}

.cvheader{
font-weight: bold; 
color: #333333;
text-align: center; 
margin-top: 20px;
margin-bottom: 5px;
}

h1 {
    position: absolute;
    top: 8%;
    padding-bottom: 4px;
    color: #c42226;
    font-size: 34px;
    font-weight: bolder;
    border-bottom: solid #ce5556;
    border-width: 2px;
    width:90%; 
}

.okvirslika{
  padding: 5%;
  order: 1;
  flex-basis: 20%;
  position: relative; 
}

.pic{
    padding: 5%;
    position:absolute;
    /* pozicioniranje slike */
     top: -20px;
    left: -100px;
    right: 50px; 
    bottom: 110px;
    border-radius: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 2;
}
/* Drag and drop↓ */
.dropcontainer {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
}
.dropinfo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropicnaeksic{
  width: 250px; 
    height: 60px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23C42326FF' stroke-width='4' stroke-dasharray='9' stroke-dashoffset='17' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: small;
}
.droparea {
    width: 250px; 
    height: 60px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23C42326FF' stroke-width='4' stroke-dasharray='9' stroke-dashoffset='17' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: small;
    
} 
/* Shape for file-upload */
#filename{
  background-color: white;
  border: solid black;
  border-radius: 5px;
  border-width: 0.5px;
  margin-top: 10px;
  padding: 3px;
  font-size: small;
  display:flex;
  visibility:hidden;
  justify-content: space-between;
  height: 25px;
  align-items: center;
}
#filename1{
  background-color: white;
  border: solid black;
  border-radius: 5px;
  border-width: 0.5px;
  margin-top: 10px;
  padding: 3px;
  font-size: small;
  display:flex;
  visibility: hidden;
  justify-content: space-between;
  height: 25px;
  align-items: center;
}
#filename2{
  background-color: white;
  border: solid black;
  border-radius: 5px;
  border-width: 0.5px;
  margin-top: 10px;
  padding: 3px;
  font-size: small;
  display:flex;
  visibility: hidden;
  justify-content: space-between;
  height: 25px;
  align-items: center;
}



/* Columns for file-upload */
.column1{
  width: 100%;
  max-height: 17px;
  display:none;
  align-items: center;
  
}
.column2{
  width: 100%;
  max-height: 17px;

}

#myProgress {
  width: 100%;
  background-color: transparent;
  border: solid #c42426;
  border-radius: 3px;
}
#myProgress2 {
  width: 100%;
  background-color: transparent;
  border: solid #c42426;
  border-radius: 3px;
}
#myProgress3 {
  width: 100%;
  background-color: transparent;
  border: solid #c42426;
  border-radius: 3px;
}
#myBar{
  width: 10%;
  height: 10px;
  border: solid #c42426;
  background-color: #c42426;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 5px; /* To center it vertically */
  color: white;
}
#myBar2{
  width: 10%;
  height: 10px;
  border: solid #c42426;
  background-color: #c42426;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 5px; /* To center it vertically */
  color: white;
}
#myBar3{
  width: 10%;
  height: 10px;
  border: solid #c42426;
  background-color: #c42426;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 5px; /* To center it vertically */
  color: white;
}
.fname{
  max-width: 25ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btnRight{
  display:flex;
  justify-content: flex-end;
}

.btnUpload{
  margin-top: 15px;
  background-color:#c42326;
	border-radius: 10px;
  padding-right: 18px;
  padding-left: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	text-decoration:none;
  border: 0;

}
.btnUpload:hover {
	background-color:#e6242b;
}
.btnUpload:disabled{
  background-color: grey;
}
.prva{
  order: 1;
  flex-basis: 90%;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
}
.druga{
  order: 2;
  flex-basis: 10%;
  align-items: center;
  justify-content: end;
}
.iksic{
  border: none;
  background-color: transparent;
  max-height: 19px;
  align-items: center;
  max-width: 8.4px;
}

/* RECTANGLE */
.fullrectangle1{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23C42326FF' stroke-width='14' stroke-dasharray='6%2c 14' stroke-dashoffset='22' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 16px;
  background-color: #c42326;
  width: 90px;
  height: 87px;
  position:absolute;
    /* pozicioniranje bordera */
  top: -45px;
  left: 35px;
  right: -50px; 
  bottom: 2px;
  z-index: 1;
}
.emptyrectancle1{
  border: solid #c42326;
  border-radius: 16px;
  border-width: 1px;
  background-color: transparent;
  width: 109px;
  height: 100px;
  position:absolute;
  /* pozicioniranje bordera */
  top: -30px;
  left: 55px;
  right: 90px; 
  bottom: 600px;
  z-index: 0;
}
.fullrectangle2{
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='13' ry='13' stroke='%23C42326FF' stroke-width='14' stroke-dasharray='6%2c 14' stroke-dashoffset='22' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 16px;
  background-color: #c42326;
  width: 90px;
  height: 87px;
  position:absolute;
    /* pozicioniranje bordera */
  top: 145px;
  left: -115px;
  right: -50px; 
  bottom: 100px;
  z-index: 1;
}
.emptyrectancle2{
  border: solid #c42326;
  border-radius: 16px;
  border-width: 1px;
  background-color: transparent;
  width: 109px;
  height: 100px;
  position:absolute;
  /* pozicioniranje bordera */
  top: 120px;
  left: -155px;
  right: -120px; 
  bottom: 1px;
  z-index: 0;
}

/* Lines↓*/
.line2 {
  position: fixed;
  right: 0;
  top: 90%;
  height: 18px;   
  width: 35%;
  background-color: #c42426;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.line2::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -36px;
  height: 18px;
  width: 90%;
  background-color: #c42426;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.line2::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -72px;
  height: 18px;
  width: 70%;
  background-color: #c42426;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; 
}



#form1{
  padding: 0%;
  height: 60px;
  max-height: 60px;
  max-width: 250px;
  width: 250px;
  border: none;
  background-color: transparent;
}

.drag1{
  align-items: center;
}

.containerdrag{
  height: 60px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dz-preview{
  display: none;
}