@font-face {   
	font-family: myFirstFont;   
	src: url(/public/fonts/super.ttf); 
}

*{
	font-family: 'Creato Display',Verdana, Geneva, Tahoma, sans-serif;
}

a
{
  color: white;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Logo */
.center-content {
    margin-top: 170px;  
}
img{
	height: 45%;
	width: 45%;	
	margin-left: 300px;	
}

/* Button */
.button {
    display: inline-block;
    padding-top: 0.7%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    border-radius: 15rem;
    color: #fff;
    max-height: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: none;
	font-weight: 700;
	margin: auto;

  }

  .button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c42326;
    border-radius: 10rem;
    z-index: -2;
  }

  .button:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #e62429;
    transition: all 0.3s;
    border-radius: 10rem; 
    z-index: -1;
  }

  .button:hover {
    color: #fff;
  }

  .button:hover:before {
    width: 100%;
  }
  .dugmepozicija {
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
  }

  /* Donje leve linije */
  .line {
    position: fixed;
    left: 0;
    top: 90%;
    height: 18px;
    width: 35%;
    background-color: #c42426;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .line::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -36px;
    height: 18px;
    width: 90%;
    background-color: #c42426;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .line::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -72px;
    height: 18px;
    width: 70%;
    background-color: #c42426;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  /* Gornje desne linije */
  .line2 {
    position: fixed;
    right: 0;
    top: 5%;
    height: 18px;
    width: 35%;
    background-color: #c42426;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .line2::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 36px;
    height: 18px;
    width: 90%;
    background-color: #c42426;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .line2::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: 72px;
    height: 18px;
    width: 70%;
    background-color: #c42426;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }