
h1{
    color:#333333;
    font-size: 68px;
}
body
{
    /* background-color: #ff4d4d; */
    overflow: hidden;
}
ul{
    
    margin-block-end: 1em;
}
li:first-child
{
    margin-top: 12vh;

}
li{
    margin:5px;
    margin-top: 30px;
}
main
{
    background-color: white;
    padding-right: 3em;
}
i{
    color: white;
    font-size: 20px;
}

nav{
    background-color: #c42326;
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
    min-width: 5vw;
    width:5vw;
}
.crvena{
    background-color: #c42326 ;
    color: #ffffff;
}
.siva
{
    background-color: #b3b3b3;
    color: #ffffff;
}
.crna{
    background-color: #333333;
    color: #ffffff;
}
table>thead>tr>th:first-child{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

table>thead>tr>th:last-child{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#table_id>tbody>tr{
    padding: 10px;
    border-radius: 50%;
}

.dataTables_filter input {
    color: black;
    background-color: black; 
    border-width: 0px 0px 3px 0px !important;
    border-color: black;
  }
  .dataTables_filter{
    margin-bottom: 10px;
    
  }

  table#table_id tbody tr {
    border: 0px solid transparent;
    
}



  #table_id tbody tr.even{
    background-color: #f1f1f1;
    
}

#table_id tbody tr.odd {
    background-color:#FFFF;
    
}  

.table-wrapper thead {
    position: sticky;
    top: 0;
    z-index: 1;
}
.dataTables_scrollBody{
    min-height: 40vh;
}
/*Added*/

td:first-child {
    border-left-style:solid;
    border-top-left-radius:20px;
    border-bottom-left-radius:20px;
}
 td:nth-child(5) {
    border-right-style:solid;
    border-bottom-right-radius:20px;
    border-top-right-radius:20px;
 }
 td:nth-child(6) {
    background-color: rgba(255, 255, 255, 1);
}



/* Override the background color for the last column */
#table_id>tbody>tr.even>td:last-child,
#table_id>tbody>tr.odd>td:last-child {
    background-color: #FFFFFF; /* Set the desired background color */
}

/* Apply striped background color manually */
#table_id>tbody>tr:nth-of-type(odd) {
    background-color: #f1f1f1; /* Set the even row background color */
}

#table_id>tbody>tr:nth-of-type(even) {
    background-color: #FFFFFF; /* Set the odd row background color */
}

/*Scrollbar*/

.dataTables_scrollBody::-webkit-scrollbar {
    width: 10px;  /* Adjust the width as needed */
  }
  
  .dataTables_scrollBody::-webkit-scrollbar-track {
    background-color: #f1f1f1;  /* Set the background color */
  }
  
  /* Customize the scrollbar thumb */
  .dataTables_scrollBody::-webkit-scrollbar-thumb {
    background-color: #c42326;
    border-radius: 10px;
  }
  
  .dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
    background-color: #c42326;  /* Set the thumb color on hover */
  }
  /* End of scrollbar */
  


#addButton, .modal button{
    background-color: #c42326;
    color: #ffffff;
    border: 0px;
    border-radius: 10px;
}

#naslov{
    font-size: 35pt;
}
button img{
    width: 100%;
    height: 100%;
}
li button{
    max-width: 80px;
    max-width:60px;
}

/* Modal stil */
.modal{
    margin-left:-10vh;
    margin-top: 5vh;
    overflow: hidden;
    box-sizing: border-box;
    
}
.modal-content{
    border-radius: 20px;
    width: 655px;
    font-size: 21px;
}
.modal-header{
    background-color: #c42326;
    color: #ffffff;
    
    font-weight: bold;
    height: 82px;
    border-radius: 20px 20px 0px 0px;
    
}
.modal-header h6{
    font-size: 23px;
    padding: 0 10px 0 70px;
}
.modal-body{
    padding: 50px 70px;
}

.modal input,.modal select{
    margin-bottom: 10px;
}
input[name=password]{
    margin-bottom:25px;
}
.dugmici{
    float:right;
    font-size: 21px;
    
}
.cancel{
    background-color: #ffffff !important;
    color: #333333 !important;
    margin-left:-10px;
    margin-right: 10px;
}
button[type=submit]{
    background-color: #c42326;
    font-weight: bold;
    border-radius: 14px;
}
.modal button:hover{
    background-color: #a01315;
    color: #ffffff; 
}

.formNewUser{
    display: inline-grid;
    width:100%;
}
.container{
    padding:0;    
}
.centriranje{
    width:100%;
    margin:auto;
}
.row{
    margin-right: 0;
    padding:0;
}


.navikone{
    height: 25px;
    width: 25px;
}

.btnlogout{
    border: none;
    background-color: transparent;
    color: #c42326;
    margin-top: 20px;
    margin-left: 50%;
    font-weight:500;
}

.btnlogout:hover{
    background-color: lightcoral;
    color:#a01315;
}
#logoutContainer .btn.btn-danger {
    border-color: transparent;
}
.iks:hover{
    background-color: #c42326;
}

/* Modal za info user */
.user-info-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.user-info-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
}

.user-info-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-info-modal-close {
    cursor: pointer;
    font-size: 18px;
    background-color: #c42326;
    padding: 4px;
    border: none;
    color: #fff;
    border-radius: 50%;
}

.user-info-modal-body {
    padding-top: 20px;
}

.user-info-modal-body p {
    margin: 0;
    margin-bottom: 10px;
}